In [2]:

 import pandas as pd
 df = pd.read_csv("yield.csv")
df

,MI_County,number,Acres,Yield(Bushels),Bushels/Acres,Unnamed: 5,Unnamed: 6
0,Combiend counties,0,19000,88.6,0.004663,NaN,NaN
1,ANTRIM,1,1600,106.3,0.066437,NaN,NaN
2,BENZIE,2,1600,126.9,0.079312,NaN,
3,CHARLEVOIX,3,3200,114.0,0.035625,NaN,NaN
4,GRAND TRAVERSE,4,5800,125.5,0.021638,NaN,NaN
5,LEELANAU,5,2600,119.6,0.046000,NaN,NaN
6,MANISTEE,6,2400,118.4,0.049333,NaN,NaN
7,MISSAUKEE,7,21500,151.6,0.007051,NaN,NaN
8,OTHER (COMBINED) COUNTIES,8,7300,124.5,0.017055,NaN,NaN